.Header {
    display: flex;
    height: 50px;
    border: 2px solid;
    font-size: 20px;
    justify-content: space-around;
    align-items: center;
}

.Header a[class='active']{
    color: blueviolet;
}